footer{
    font-size: small;
    margin: 2vh 0 0 0;
    justify-content: end;
    padding: 4vw;
    background: #A84448;
    color: #F6E1C3;

  }
  html{
    font-size: 100%;
    width: 100%;
    overflow-x:clip;
  }
  