

$background-color: rgb(246, 225, 195);

$nav-color:  #F6E1C3;
$nav-hover-color: #f3cd98;
$nav-link-font-color: #d0798a;


$section-color:lightsalmon;

$photo-list-border-color: rgb(168, 68, 72);


$code-color: gray;
 
$font-color: black;

$foooter-main-color: #A84448;
$footer-font-color: #F6E1C3;

$breakpoints: (
  small: 580px,
  medium: 700px,
);

:export {
  backgroundColor: $background-color;
  navColor:  $nav-color;
  navHoverColor: $nav-hover-color;
  navLinkFontColor: $nav-link-font-color;

}